body {
  padding-top: 50px;
  background: #fff9cf;
  font-family: 'Varela Round', sans-serif;
  min-width: -webkit-min-content; }

hr {
  margin: 0; }

#app {
  border-left: 2px solid #fff4ac;
  border-right: 2px solid #fff4ac; }

.container-flex {
  box-shadow: 2px 0px 5px black; }

.navbar-inverse {
  background: #ffe42c;
  border-color: #f8d800; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: black; }

.navbar-inverse .navbar-brand {
  padding: 12px 15px;
  white-space: nowrap; }
  .navbar-inverse .navbar-brand .glyphicon {
    font-size: 1.2em;
    margin-right: 5px; }
  .navbar-inverse .navbar-brand > span {
    display: inline-block;
    vertical-align: middle; }

.navbar-inverse .navbar-nav > .active > a {
  box-shadow: inset 0 0 10px #dfc200;
  background: #ffe113;
  color: #1a1a1a; }
  .navbar-inverse .navbar-nav > .active > a:hover {
    background: #f8d800;
    box-shadow: inset 0 0 10px #c5ac00;
    color: #fff; }

#map-canvas {
  height: calc(100vh - 50px);
  border-right: 2px solid #fff4ac;
  border-bottom: 2px solid #fff4ac;
  border-left: 2px solid #fff4ac;
  width: 100%; }

@media (min-width: 768px) {
  #map-canvas {
    border-bottom: none;
    border-left: none; }
  .map-container {
    padding: 0; }
    .map-container > div {
      position: fixed;
      width: inherit; } }

#control-panel {
  padding: 0;
  box-sizing: border-box; }
  #control-panel > div {
    margin: 20px 0;
    min-width: -webkit-min-content; }

select {
  width: calc(100% - 25px);
  -webkit-appearance: menulist-button; }

.btn-primary {
  background: black;
  border-color: black; }
  .btn-primary:hover {
    background: black;
    border-color: black; }

h4 {
  color: #e7cd79;
  margin-top: 0; }

h3 {
  color: black;
  text-align: center;
  margin-top: 0; }

.btn-circle {
  height: 20px;
  width: 20px;
  border-adius: 50%;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 42%; }

.day-btn {
  border-width: 2px;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  background: transparent;
  border-color: black;
  color: black; }
  .day-btn:hover {
    border-color: #fff;
    color: #fff; }
  .day-btn.current-day {
    background: black;
    color: #ffe42c; }
    .day-btn.current-day:hover {
      background: #fff; }

.panel-default {
  box-shadow: 2px 2px 5px black;
  background: white;
  border-radius: 8px;
  border-width: 0;
  margin-bottom: 0; }
  .panel-default .panel-heading {
    background: #ffe42c;
    border-radius: 8px 8px 0 0; }
  .panel-default .panel-body {
    background-color: #282828;
    padding: 5px 15px; }
    .panel-default .panel-body > div {
      margin-top: 20px;
      margin-bottom: 20px; }

.selectpicker {
  background-color: #ffe42c; }

.title {
  color: #ffe42c; }

.itinerary-item {
  margin: 8px 0; }
  .itinerary-item > * {
    display: inline-block;
    vertical-align: middle; }
  .itinerary-item > .title {
    width: calc(100% - 24px); }
  .itinerary-item > .remove {
    width: 20px; }

#day-title {
  background-color: #ffe42c;
  box-shadow: 2px 2px 5px black;
  color: #282828;
  display: inline-block;
  padding: 5px;
  border: 1px solid #282828;
  border-radius: 5px; }
  #day-title > * {
    display: inline-block;
    vertical-align: middle; }
  #day-title > .remove {
    margin-left: 1em; }
